.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header>div>div, .page-header>div>ul {
    display:inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account>div, .account>ul {
    text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.content {
    margin-top:70px;
    width:100%
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}
footer p {
    padding:5px 0 12px 10px
}
.landingPage{
    background-image: pink;
    height:600px;
    width:110%;
}
.navbar-brand {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:1px 1px 1px #2f6627;
}

.landing-page-quote{
     width: 750px;
     padding-top: 50px;
}

.landing-page-quote blockquote{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow:
        inset 0 2px 0 rgba(188, 147, 200, 0.7),
        -5px -4px 25px rgba(0, 0, 0, 0.3);
}
.landing-page-quote blockquote:after,
.landing-page-quote blockquote:before  {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
 
.landing-page-quote blockquote:after  {
    border-top-color: #ffffff;
    border-width: 10px;
    left: 65%;
    margin-left: -10px;
}
 
.landing-page-quote blockquote:before {
    border-top-color: red;
    border-top-color: rgba(255,0,0,1);
    border-width: 11px;
    left: 65%;
    margin-left: -11px;
}
.landing-page-quote blockquote p {
    font-family: 'Alegreya', serif;
    font-size: 24px;
    color: #b4b4b4;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    text-indent: 100px;
    position: relative;
}
.landing-page-quote blockquote p:before{
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 175px;
    left: -105px;
    color: red;
    color: rgba(255, 0, 0, 0.6);
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}
.landing-page-quote .lpq-attribution {
    text-align: right;
    padding: 20px 100px 20px 20px;
    position: relative;
}
.landing-page-quote .lpq-thumb {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    background: url(../img/jesse_owens.jpg) no-repeat center center;
    position: absolute;
    right: 10px;
    bottom: 5px;
    box-shadow:
        inset 1px 1px 4px rgba(0,0,0,0.5),
        0 2px 3px rgba(0,0,0,0.6);
}

.landing-page-quote .lpq-author{
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    font-size: 18px;
    color: red;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
 
.landing-page-quote cite a{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
 
.landing-page-quote cite a:hover{
    color: red;
    color: rgba(255, 0, 0, 0.6);
    text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}